
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
}

body > * {
    margin: 0px auto;
    max-width: 840px;
}

body > div {
    min-height: 250px;
}

header {
    position: relative;
    margin-bottom: 120px;
    max-width: 960px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(38, 75, 117);
    color: rgb(255, 255, 255);
}

.CV {
    position: absolute;
    right: 50px;
    top: 150px;
    font-size: 8rem;
    font-weight: bold;
}

header img {
    float: left;
    margin: 20px 50px;
}

.name {
    margin: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 10px 0;
    font-size: 1.4rem;
}

.contacts > div *, 
.section * {
    display: inline-block;
    vertical-align: middle;
}

.contacts {
    line-height: 1rem;
}

header div {
    float: left;
    text-align: left;
}

.summary {
    margin-top: 20px;
}

.contacts a {
    text-decoration: none;
}

.contacts a:visited {
    color: black;
}

.section {
    border-radius: 10px;
    background-color: rgb(38, 75, 117);
    color: rgb(255, 255, 255);
}

.section img {
    margin: 10px;
}

.section {
    margin:10px 0;
}

footer {
    font-size: 0;
    margin-top: 50px;
    max-width: 960px;
    height: 100px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(38, 75, 117);
    position: relative;
}

footer p{
   
    position: absolute;
    bottom: 20px;
    right: 20px;
}
